<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="row">
  <button class="btn btn-light btn-block" th:text="#{action.prepare}"></button>
</div>
<div class="row">
  <button class="btn btn-light btn-block" th:text="#{action.start}"></button>
</div>
<div class="row">
  <button class="btn btn-light btn-block" th:text="#{action.partialAcknowledgment}"></button>
</div>
<div class="row">
  <button class="btn btn-light btn-block" th:text="#{action.totalAcknowledgment}"></button>
</div>
<div class="row">
  <button class="btn btn-light btn-block" th:text="#{action.break}"></button>
</div>
<div class="row">
  <button class="btn btn-light btn-block" th:text="#{action.cancel}"></button>
</div>
</body>
</html>